@import '~/_variables';


#app {
    --main-max-width: 1400px;
}



main.home {

    display: grid;

    grid-template-areas: 'counters'
    'create'
    'lobby'
    'featured'
    'leaderboard'
    'footer';

    column-gap: 1em;
    row-gap: 1em;

    margin-bottom: 3em;

    @media (min-width: 799.3px) {
        grid-template-areas: 'counters counters lobby lobby'
            'create create lobby lobby'
            '. featured featured .'
            'leaderboard leaderboard leaderboard leaderboard'
            '. footer footer .';


        grid-template-columns: 2fr 1fr 1fr 2fr;
        grid-template-rows: 1em 80vh auto auto;
    }

    .footer {
        grid-area: footer;
    }

    .counters {
        grid-area: counters;
    }

    .lobby {
        grid-area: lobby;
    }

    .create {
        grid-area: create;
    }


    .featured {
        grid-area: featured;
    }


    .leaderboard {
        grid-area: leaderboard;
    }

    .counters {
        display: flex;
        gap: 1em;
        justify-content: center;


        span {
            display: flex;
            gap: 0.1em;

            .bold {
                font-weight: bold;
            }
        }
    }

    .create {
        border: 1px solid $accent;
        border-radius: 4px;
        padding: 1em;

        h2 {
            font-weight: normal;
            color: $text-dark;
        }

        .opponent {
            display: flex;
            flex-flow: column;

            .buttons {
                padding: 1em;
                display: flex;
                justify-content: center;
                gap: 1em;

                span {
                    user-select: none;
                    cursor: pointer;
                    border-radius: 3px;
                    padding: 1em;
                    background: $primary;
                    color: $text;
                    border: 1px solid $primary-dark3;

                    &.active {
                        background: $accent;
                        color: $text-light;
                    }

                    &:hover {
                        background: $accent-light;
                        color: $text-light;
                    }
                }
            }
        }

        .time-control {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            gap: 0.3em;

            span {
                font-size: 1.8em;
                user-select: none;
                cursor: pointer;
                padding: 1em;
                flex: 0 0 calc(50% - 2em - 0.2em - 16px);

                background: $primary-dark;
                color: $text-light;
                border-radius: 6px;
                border: 1px solid $accent-light;
                margin: 0.1em;
                transition: cubic-bezier(0.075, 0.82, 0.165, 1) .4s;

                &:hover {
                    color: $primary;
                    background: $accent;
                }

                &:active {
                    text-decoration: underline;
                }
            }
        }
        button {
            user-select: none;
            cursor: pointer;
            font-size: 1em;
            color: $text-dark;
            padding: 1em;
            border: none;
            background: $primary;

            &:hover {
                background: $primary-light;
            }

            &:active {
                text-decoration: underline;
            }
        }
    }



    .lobby {
        display: flex;
        flex-flow: column;

        max-height: 90vh;

        h2 {
            font-weight: normal;
            color: $accent;
            border: 1px solid $accent;
            border-bottom: none;
            border-radius: 4px 4px 0 0px;
        }

        .hooks {
            overflow-y: auto;
            border: 1px solid $accent;
            flex: 1;

            display: flex;
            flex-flow: column;

            table {
                border-spacing: 0;
                thead tr th {
                    color: $text-dark;
                    font-weight: normal;
                }

                tbody tr {
                    user-select: none;
                    cursor: pointer;
                    color: $text;

                    &.removed,
                    &.removed:hover,
                    &.removed.me,
                    &.removed.me:hover {
                        opacity: 0.7;
                        background: $text;
                        color: $text-dark;
                    }

                    &.me,
                    &.me:hover {
                        background: $light-green;
                        color: $text-light;
                    }

                    &:hover {
                        color: $text-light;
                        background: $accent;
                    }

                    td {
                        padding: 0.4em;
                        border-bottom: 1px solid $text;
                    }
                }
            }
        }
    }

    .featured {
        justify-self: center;
        display: flex;
        flex-flow: column;
        gap: 0.3em;
        justify-content: center;

        background: $primary-dark2;
        border: 2px solid $primary-dark3;
        padding: 0.8em 2em;
        border-radius: 4px;

        h2 {
            color: $text-light;
        }


    }

    .leaderboard {
        justify-self: center;
        display: flex;
        flex-flow: column;
        gap: 0.3em;
        justify-content: center;

        background: $primary-dark2;
        border: 2px solid $primary-dark3;
        padding: 0.8em 2em;
        border-radius: 4px;

        h2 {
            color: $text-light;
        }

        .perfs {
            display: flex;
            justify-content: center;
            gap: 0.2em;

            @include mq-is-col1 {
                flex-flow: column;
            }


            .perf {
                display: flex;
                flex-flow: column;

                background: $primary-dark3;
                border: 1px solid $accent-light;
                border-radius: 3px;
                padding: 0.4em 0.8em;

                h3 {
                    text-transform: capitalize;
                    color: $primary-light;
                }

                .list {
                    display: flex;
                    flex-flow: column;
                    gap: 0.2em;


                    .leader {
                        display: flex;
                        justify-content: space-between;

                        .rating {
                            color: $accent;
                        }

                        .user-link {
                            max-width: 180px;
                            color: $text-light;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }
}