@import '~/_variables';


#app {
    --main-max-width: 1400px;
}



main.home {

    display: grid;

    grid-template-areas: 'counters'
    'create'
    'lobby'
    'featured'
    'leaderboard';

    column-gap: 1em;
    row-gap: 1em;

    @media (min-width: 799.3px) {
        grid-template-areas: 'counters lobby'
            'create lobby'
            'featured leaderboard';


        grid-template-rows: 1em 50vh auto;
        grid-template-columns: 1fr 1fr;
    }


    .counters {
        grid-area: counters;
    }

    .lobby {
        grid-area: lobby;
    }

    .create {
        grid-area: create;
    }


    .featured {
        grid-area: featured;
    }


    .leaderboard {
        grid-area: leaderboard;
    }

    .counters {
        display: flex;
        gap: 1em;
        justify-content: center;


        span {
            display: flex;
            gap: 0.1em;

            .bold {
                font-weight: bold;
            }
        }
    }

    .create {
        border: 1px solid $accent;
        border-radius: 2px;
        padding: 1em;

        h2 {
            font-weight: normal;
            color: $text-dark;
        }

        .time-control {
            display: flex;
            flex-flow: row wrap;

            span {
                font-size: 1.4em;
                user-select: none;
                cursor: pointer;
                padding: 1em;
                flex: 0 0 calc(50% - 2em);

                transition: cubic-bezier(0.075, 0.82, 0.165, 1) .4s;

                &:hover {
                    color: $primary;
                    background: $accent;
                }

                &:active {
                    text-decoration: underline;
                }
            }
        }
        button {
            user-select: none;
            cursor: pointer;
            font-size: 1em;
            color: $text-dark;
            padding: 1em;
            border: none;
            background: $primary;

            &:hover {
                background: $primary-light;
            }

            &:active {
                text-decoration: underline;
            }
        }
    }


    .lobby {
        display: flex;
        flex-flow: column;

        height: 60vh;

        h2 {
            font-weight: normal;
            color: $accent;
            border: 1px solid $accent;
            border-bottom: none;
        }

        .hooks {
            overflow-y: auto;
            border: 1px solid $accent;
            flex: 1;

            display: flex;
            flex-flow: column;

            table {
                border-spacing: 0;
                thead tr th {
                    color: $text-dark;
                    font-weight: normal;
                }

                tbody tr {
                    user-select: none;
                    cursor: pointer;
                    color: $text;

                    &.removed,
                    &.removed:hover,
                    &.removed.me,
                    &.removed.me:hover {
                        opacity: 0.7;
                        background: $text;
                        color: $text-dark;
                    }

                    &.me,
                    &.me:hover {
                        background: $light-green;
                        color: $text-light;
                    }

                    &:hover {
                        color: $text-light;
                        background: $accent;
                    }

                    td {
                        padding: 0.4em;
                        border-bottom: 1px solid $text;
                    }
                }
            }
        }
    }
}