@import '~/_variables';


main.round {
    display: grid;

    grid-template-areas: 'board .'
    'board clock-top'
    'board user-top'
    'board moves'
    'board controls'
    'board user-bot'
    'board clock-bot'
    'board .';

    grid-template-columns: $col-uniboard-width minmax(300px, 400px);
    grid-template-rows: auto;

    .board {
        grid-area: board;
    }

    .user-top {
        grid-area: user-top;
    }

    .user-bot {
        grid-area: user-bot;
    }

    .moves {
        grid-area: moves;
    }

    .rcontrols {
        grid-area: controls;
    }

    .clock-top {
        grid-area: clock-top;
    }

    .clock-bot {
        grid-area: clock-bot;
    }

    .table {
        grid-area: 3 / 2 / 7 / 3;
    }

    .rclock {
        position: relative;
        display: flex;
        justify-content: space-between;
        .time {
            color: $text-light;
            background: $primary-dark3;
            min-width: 3em;
            font-size: 2.8em;
            font-weight: bold;
            padding: 0 0.1em;
            white-space: nowrap;
            display: flex;
            justify-content: center;
        }

        .bar {
            display: block;
            position: absolute;
            width: 100%;
            height: 4px;
            background: $c-good;
            transform-origin: left;
        }
    }
    
    .rclock.clock-top .bar {
        bottom: -4px;
    }

   .rclock.clock-bottom .bar {
        top: -4px;
    }

    .rclock.clock-top .time {
        border-radius: 6px 6px 0 0;
    }

    .rclock.clock-bot .time {
        border-radius: 0 0 6px 6px;
    }

        .rclock .time,
        .table {
            background: $primary-dark3;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
                0 3px 1px -2px rgba(0, 0, 0, .2),
                0 1px 5px 0 rgba(0, 0, 0, .12);
        }

    .user-top {
        background: linear-gradient($primary-dark2, $text-dark 40%);
    }

    .user-bot {
        background: linear-gradient(to top, $primary-dark2, $text-dark 40%);
    }

    .user-bot, .user-top {
        display: flex;
        border-radius: 3px;
        color: $text-light;
        padding: 1em;
        align-items: center;

        .username {
            text-align: left;
            flex: 1;
        }
    }

    .user-top {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .user-bot {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }


    .ricons .fbt {
        font-size: 1.4em;
        padding: .1em 1em;
    }

    .moves {
        display: flex;
        flex-flow: column;

        .buttons {
            flex: 0 0 2.5rem;
            display: flex;
            justify-content: stretch;
            background: $primary-dark;
            font-size: .9em;
            box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);

        }

        .list {
            flex: 0 0 10rem;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            position: relative;
            overflow-y: auto;
            align-content: flex-start;
            user-select: none;
            line-height: 1.7;
            font-size: 1.1em;
            color: $text-light;

            .index {
                flex: 0 0 16.666%;
                background: $primary-dark2;
            }

            .move {
                cursor: pointer;
                flex: 0 0 41.666%;
                font-family: 'Noto Chess', 'Noto Sans';
                background: $primary-dark3;

                &.selected {
                    background: $accent;
                }

                &:hover {
                    background: $accent-light;
                }
            }


            .result-wrap {
                width: 100%;
                text-align: center;


                .result {
                    border-top: 1px solid $c-border;
                    font-weight: bold;
                    font-size: 1.2em;
                    padding: 5px 0 3px 0;
                    margin: 0;
                }

                .status {
                    font-style: italic;
                    margin-bottom: .5em;
                }
            }
        }
    }


            .fbt {
                height: 2.5rem;
                line-height: 2.4rem;

                flex: 0 0 calc(100% / 4);
                text-align: center;

                text-transform: uppercase;
                transition: all 150ms;
                background: none;
                border: none;
                outline: none;
                color: $text-light;
                cursor: pointer;

                &.disabled,
                &[disabled] {
                    opacity: .5;
                    cursor: default;
                }

                &:hover:not(.disabled):not([disabled]) {
                    background: $c-good;
                    color: $text-light;
                }
            }
}