@import '~/_variables';

#app {
    --main-max-width: 1300px;
}



main.profile {

    .section {

        background: $primary-dark3;

        display: flex;
        flex-flow: column;

        .head {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $primary-light;
        
                h1 {
                    font-size: 2em;
                    padding: 0.5em;
                    color: $text-light;
                    font-weight: normal;
                    display: flex;
                    align-self: center;

                   .rating {
                        display: flex;
                        align-self: center;
                        font-size: 0.82em;
                        margin-left: 1em;
                    }
                }

        
                .tools {
                    margin: 1em;

                    button {
                        user-select: none;
                        cursor: pointer;

                        padding: 0.6em;
                        background: $c-bad;
                        color: $text-light;
                        border: 1px solid $text-dark;
                        border-radius: 4px;

                        &:active {
                            text-decoration: underline;
                        }
                    }
                }
        }

        .perfs {
            display: flex;
            justify-content: space-around;
            font-size: 1.3em;
            color: $text;
            background: $primary-dark2;
            padding: 1em;
            border-bottom: 1px solid $c-border;

            & .icon {
                color: $text;
            }
        }

        .activity {
            display: flex;
            flex-flow: column;
            min-height: 10em;
            color: $text-light;
            justify-content: stretch;
            padding: 0.5em;

            .nbs {
                display: flex;
                justify-content: space-around;
                border-bottom: 1px solid $c-border;
            }
        }
    }
}