$background: #FBFFBD;

$primary: #F8FAE0;
$primary-light: #dcdecc;
$primary-dark: #83847d;
$primary-dark2: #63645e;
$primary-dark3: #3a3a37;

$light-green: #639e3c;

$accent: #CE7143;
$accent-light: #e3885a;


$text-dark: #464524;
$text: #938e81;
$text-light: #faf9f5;


$c-good: hsl(88, 62%, 37%);
$c-bad: #be3838;


$site-header-height: 50px;
$col-uniboard-width: calc(100vh - $site-header-height - 10px);

@font-face {
  font-family: 'Noto Chess';
  font-display: block;
  src: url('/lichess.chess.woff2') format('woff2');
}

@font-face {
    font-family: 'lichess';
    font-display: block;
    src: url('/lichess.woff2') format('woff2');
}

%base-font {
  font-family: 'Noto Sans', Sans-Serif;
}

%san {
  font-family: 'Noto Chess', 'Noto Sans';
}

