$background: #FBFFBD;

$primary: #F8FAE0;
$primary-light: #dcdecc;
$primary-dark: #83847d;
$primary-dark2: #3a3a37;
$primary-dark3: #2b2c26;


$light-green: #639e3c;

$accent: #CE7143;
$accent-light: #e3885a;


$text-dark: #464524;
$text: #938e81;
$text-light: #faf9f5;

$c-border: #a6a49b;

$c-good: hsl(88, 62%, 37%);
$c-bad: #be3838;


$site-header-height: 50px;
$col-uniboard-width: calc(100vh - $site-header-height - 10px);

$topnav-visible: 1020px;

$xxx-small: 400px;
$xx-small: 500px;
$x-small: 650px;
$small: 800px;
$medium: 980px;
$large: 1120px;
$x-large: 1260px;
$xx-large: 1500px;

$x-short: 400px;
$short: 500px;
$tall: 600px;
$x-tall: 700px;


@font-face {
  font-family: 'Noto Chess';
  font-display: block;
  src: url('/lichess.chess.woff2') format('woff2');
}

@font-face {
    font-family: 'lichess';
    font-display: block;
    src: url('/lichess.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans'), local('NotoSans'), url('/noto-sans-v14-latin-regular.woff2') format('woff2');
}

%base-font {
  font-family: 'Noto Sans', Sans-Serif;
}

%san {
  font-family: 'Noto Chess', 'Noto Sans';
}

@mixin mq-is-col1 {
  @media (max-width: at-most($small)) and (orientation: portrait) {
    @content;
  }
}


@mixin mq-at-least-col2 {
  @media (min-width: at-least($small)), (orientation: landscape) {
    @content;
  }
}


@mixin mq-is-col2-squeeze {
  @media (max-width: at-most($small)) and (orientation: landscape) {
    @content;
  }
}

@mixin mq-at-least-col3 {
  @media (min-width: at-least($x-large)) {
    @content;
  }
}


@mixin mq-site-header-tall {
  @media (min-height: at-least($tall)) {
    @content;
  }
}


@mixin mq-topnav-hidden {
  @media (max-width: at-most($topnav-visible)) {
    @content;
  }
}


@mixin mq-topnav-visible-and-tall {
  @media (min-width: at-least($topnav-visible)) and (min-height: at-least($tall)) {
    @content;
  }
}

@mixin mq-board-resizable {
  @media (min-width: at-least($small)) {
    @content;
  }
}