$background: #FBFFBD;

$primary: #F8FAE0;
$primary-light: #dcdecc;
$primary-dark: #63645e;

$light-green: #639e3c;

$accent: #CE7143;


$text-dark: #464524;
$text: #938e81;
$text-light: #faf9f5;


$error: #be3838;