@import '_variables';

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fefce3;
}

::-webkit-scrollbar-thumb {
  background: #d7d75c;
}

::-webkit-scrollbar-thumb:hover {
  background: #89886e;
}

body {
  @extend %base-font;
}

a {
  text-decoration: none;
}

main {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

body {
  background: $background;
  color: $text;
}

#app {

  --main-margin: 30px;
  --site-header-height: 50px;

  display: grid;
  grid-template-areas: 'top top top top top'
  '. . main . .';

  grid-template-columns: var(--main-margin) 1fr minmax(auto, var(--main-max-width)) 1fr var(--main-margin);
  grid-template-rows: var(--site-header-height) 1fr;

  nav {
    grid-area: top;
  }


  main {
    grid-area: main;
  }
}


nav {
  height: $site-header-height;
  display: flex;
  flex-flow: row;
  justify-content: space-between;

  .logo {
    align-self: center;
    margin-left: 0.2em;
    color: $text-dark;
    font-size: 2em;

    span {
      color: $text;
    }
  }


  .dasher {
    margin-right: 0.2em;
    font-size: 1.3em;
    align-self: center;
  }
}

#network-status {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0 1rem;
  background: $c-bad;
  color: $text-light;
  font-size: 1.2em;
  font-weight: bold;
  height: 2.5rem;
  border-top-right-radius: 3px;
  transform: translateY(2.5rem);
}

#network-status.online {
  background: $c-good;
  animation: online 2.5s backwards;
}

#network-status.offline {
  transform: translateY(0);
}


@keyframes online {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(2.5rem);
  }
}

#network-status {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.user-link .line,
[data-icon]::before {
  font-size: 1.2em;
  vertical-align: middle;
  font-family: 'lichess';
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  content: attr(data-icon);
  opacity: 0.9;
}

.user-link {

  i.line {
    color: $text-light;
    opacity: .5;
    display: inline-block;
    width: 1.5em;
    text-align: center;
    vertical-align: top;
  }


  &.online .line {
    color: $c-good;
    opacity: .9;
  }

  &.online .line::before {
    content: "";
  }

  .line::before {
    content: "";
  }


}